ImdbClient/Connected Services/ImdbServiceReference/ImdbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImdbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60217/ImdbService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60217/ImdbService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60217/ImdbService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImdbServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImdbRepository_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesByPredicate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByPredicate" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesByPredicate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByPredicateResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesByPredicateCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByPredicateCount" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesByPredicateCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByPredicateCountResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesPaged" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesPagedResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesById" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_GetAllMoviesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_DeleteMovieById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieById" />
  </wsdl:message>
  <wsdl:message name="IImdbRepository_DeleteMovieById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IImdbRepository">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMovies" message="tns:IImdbRepository_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesResponse" message="tns:IImdbRepository_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByPredicate">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesByPredicate" message="tns:IImdbRepository_GetAllMoviesByPredicate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesByPredicateResponse" message="tns:IImdbRepository_GetAllMoviesByPredicate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByPredicateCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesByPredicateCount" message="tns:IImdbRepository_GetAllMoviesByPredicateCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesByPredicateCountResponse" message="tns:IImdbRepository_GetAllMoviesByPredicateCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesPaged" message="tns:IImdbRepository_GetAllMoviesPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesPagedResponse" message="tns:IImdbRepository_GetAllMoviesPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/AddMovie" message="tns:IImdbRepository_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/AddMovieResponse" message="tns:IImdbRepository_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesById" message="tns:IImdbRepository_GetAllMoviesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/GetAllMoviesByIdResponse" message="tns:IImdbRepository_GetAllMoviesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/UpdateMovie" message="tns:IImdbRepository_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/UpdateMovieResponse" message="tns:IImdbRepository_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovieById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbRepository/DeleteMovieById" message="tns:IImdbRepository_DeleteMovieById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbRepository/DeleteMovieByIdResponse" message="tns:IImdbRepository_DeleteMovieById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImdbRepository" type="tns:IImdbRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByPredicate">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/GetAllMoviesByPredicate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesByPredicateCount">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/GetAllMoviesByPredicateCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesPaged">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/GetAllMoviesPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesById">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/GetAllMoviesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovieById">
      <soap:operation soapAction="http://tempuri.org/IImdbRepository/DeleteMovieById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImdbService">
    <wsdl:port name="BasicHttpBinding_IImdbRepository" binding="tns:BasicHttpBinding_IImdbRepository">
      <soap:address location="http://localhost:60217/ImdbService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>