NOT USED/ImdbClient/Connected Services/ImdbServiceReference/ImdbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImdbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60217/ImdbService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60217/ImdbService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60217/ImdbService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImdbServiceApp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImdbService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IImdbService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbService_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IImdbService_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbService_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="IImdbService_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbService_GetAllMoviesById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesById" />
  </wsdl:message>
  <wsdl:message name="IImdbService_GetAllMoviesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbService_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="IImdbService_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="IImdbService_DeleteMovieById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieById" />
  </wsdl:message>
  <wsdl:message name="IImdbService_DeleteMovieById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IImdbService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbService/DoWork" message="tns:IImdbService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbService/DoWorkResponse" message="tns:IImdbService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbService/GetAllMovies" message="tns:IImdbService_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbService/GetAllMoviesResponse" message="tns:IImdbService_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbService/AddMovie" message="tns:IImdbService_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbService/AddMovieResponse" message="tns:IImdbService_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbService/GetAllMoviesById" message="tns:IImdbService_GetAllMoviesById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbService/GetAllMoviesByIdResponse" message="tns:IImdbService_GetAllMoviesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbService/UpdateMovie" message="tns:IImdbService_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbService/UpdateMovieResponse" message="tns:IImdbService_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovieById">
      <wsdl:input wsaw:Action="http://tempuri.org/IImdbService/DeleteMovieById" message="tns:IImdbService_DeleteMovieById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImdbService/DeleteMovieByIdResponse" message="tns:IImdbService_DeleteMovieById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImdbService" type="tns:IImdbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IImdbService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IImdbService/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/IImdbService/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMoviesById">
      <soap:operation soapAction="http://tempuri.org/IImdbService/GetAllMoviesById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/IImdbService/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovieById">
      <soap:operation soapAction="http://tempuri.org/IImdbService/DeleteMovieById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImdbService">
    <wsdl:port name="BasicHttpBinding_IImdbService" binding="tns:BasicHttpBinding_IImdbService">
      <soap:address location="http://localhost:60217/ImdbService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>